:root {
  --texto-principal: #666666;
  --cor-secundario: #CB93B5;
  --cor-terciario: #A7AFCB;
  --branco-principal: #FFFFFF;
  --gradiente: linear-gradient(270deg, #CB93B5 0%, #A7AFCB 100%);
  --font-principal: 'Lexend';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--gradiente);
}

.card {
  background: var(--branco-principal);
  width: 1055px;
  height: 500px;
  padding: 30px;
  border: 1px solid var(--cor-terciario);
  border-radius: 20px;
  box-shadow: 7px 7px 8.2px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.text-container {
  max-width: 450px;
}

.titulo {
  font-family: var(--font-principal);
  font-size: 28px;
  font-weight: 700;
  text-align: left;
  color: var(--texto-principal);
  margin-left: 86px;
}

.texto {
  font-family: var(--font-principal);
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
  margin-left: 86px;
  margin-bottom:16px;
  text-align: left;
  color: var(--texto-principal);
  width: 453px;
  text-align: justify;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 15px;
  margin-left: 86px;
}

.social-icons img {
  width: 40px;
  height: 40px;
}

.buttons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  margin-left: 86px;
}

.button-portifolio,
.button-git {
  display: flex;
  width: 140px;
  height: 40px;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.20);
  text-align: center;
}

.button-portifolio {
  border: 1px solid var(--cor-secundario);
  background: var(--branco-principal);
}

.text-portifolio {
  text-decoration: none;
  color: var(--cor-secundario);
  font-family: var(--font-principal);
  font-size: 16px;
  font-weight: 400;
}

.button-git {
  border: 1px solid var(--cor-terciario);
  background: linear-gradient(90deg, rgba(167, 175, 203, 0.60) 0%, rgba(203, 147, 181, 0.60) 80.74%);
  
}

.text-git {
  text-decoration: none;
  color: var(--branco-principal);
  font-family: var(--font-principal);
  font-size: 16px;
  font-weight: 400;
}

.profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 305px;
  height: 305px;
  margin-right:86px;
}
